<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cliente SUAP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav class="navbar">
    {% if session.user %}
      <img src="{{ session.user.foto }}" class="avatar">
      <span>{{ session.user.nome_usual }} ({{ session.user.matricula }})</span>
      <a href="{{ url_for('logout') }}" class="btn btn-logout">Sair</a>
    {% else %}
      <span>Não autenticado</span>
    {% endif %}
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
