{% extends "base.html" %}

{% block content %}
<div class="main-container">

  <div class="left-side">
    <img src="https://suap.ifrn.edu.br/static/img/suap.svg" alt="SUAP Logo">
    <h1>INSTITUTO FEDERAL<br>Rio Grande do Norte</h1>
    <p>Um software desenvolvido por uma instituição pública para instituições públicas.</p>
    <img src="https://suap.ifrn.edu.br/static/img/login_illustration.svg" alt="Ilustração SUAP" width="280">
  </div>

  <div class="right-side">
    <div class="login-card">
      <h2>Login</h2>
      <p>Acesse ao Suap IFRN:</p>
      <a href="{{ url_for('login') }}" class="btn btn-login">Acessar com SUAP</a>
    </div>
  </div>

</div>
{% endblock %}
